<style>
	.flip-card-container{
		padding:20px 20px 20px 20px;
		display:flex;
		flex-direction:row;
		justify-content:space-evenly;
		flex-wrap:wrap
	}
	.flip-card-wrapper{
		width:330px;
		height:400px;
		perspective:1000px;
		margin:10px 0 10px 0!important;
	}
	.flip-card-inner{
		position:relative;
		width:100%;
		height:100%;
		transition-property:transform;
		transform-style:preserve-3d;
		transition-duration:1.5s;
		transition-delay:0.1s;
		transition-timing-function:cubic-bezier(0.18, 0.89, 0.34, 1.13)
	}
	
	.flip{
		transform:rotateY(180deg);
	}

	.flip-card{
		display:flex;
		flex-direction:column;
		align-items:center;
		justify-content:center;
		padding:10px;
		box-shadow: 0 0 10px black;
		backface-visibility:hidden;
		background-size:cover;
		background-position:center;
		background-repeat: no-repeat;
		border-radius:20px;
		position:absolute;
		top:0;
		left:0;
		width:100%;
		height:100%;
		cursor:pointer;
		user-select: none
	}
	.flip-card-back{
		transform:rotateY(180deg);
		background-color:#ffcc00;
		color:black
	}
	.flip-card-front{
		background-color:#eee;
		color:white;
	}
	.flip-card-front > *{
		color:inherit;
	}
	
	@media only screen and (max-width:600px){
		.f-navlink-wrapper{
			display:none;
		}
		.cookie-bar{
			height:65px!important;
		}
		.cookie-bar > *{
			font-size:12px;
		}
	}

	}
	.flippr-logo{
		cursor:pointer;
	}
	
	.f-search-section{
		display:flex;
		flex-direction:row;
		align-items: center;
		justify-content:space-between;
	}
	.f-search-category{
			color:black!important;
			margin:100px 0 0 100px
		}
	.f-search-bar{
	display:flex;
	height:40px;
	width:250px;
	margin:100px 10px 0 0;
	border: 1px solid #aaa;
	box-sizing:border-box;
	padding:10px;
	border-radius:30px;
	background-color:#eee
	}

	.f-search-bar > input{
		background-color:#eee
	}


	@media (max-width:600px){
		.f-search-category{
			margin:100px 0 0 20px;
			font-size:25px;
		}
		.f-search-bar{
		}
	}

	.f-back-to-top{
		box-shadow: 0 0 10px black;
		position:fixed;
		bottom:10px;
		right:10px;
		width:50px;
		height:50px;
		border-radius:50px;
		background-color:#fda800;
		display:flex;
		align-items:center;
		justify-content: center;
	}


</style>
<!-- Filter -->
<div class="f-search-section">
	<h1 class="f-search-category">Art cards (126)</h1>
		<div  class="f-search-bar">
			<i style="color:black;margin-right:5px" class="fa fa-search"></i>
			<input type="search" placeholder="Search"/></div></div>

<!-- flipcards -->
<div class="container flip-card-container">
{{#if flipcards}}
{{#each flipcards}}
<div class="flip-card-wrapper">
	<div class="flip-card-inner">
		<div class="flip-card flip-card-back">
			<h3>Metha</h3>
			<p class="lead">{{subtitle}}</p>
		</div>
		<div style="background-image:url('{{url}}')" class="flip-card flip-card-front">
			<h2>{{title}}</h2>
			<p class="lead">{{subtitle}}</p>
		</div>
	</div>
</div>
{{/each }}
{{else}}
<div class="flip-card-wrapper">
	<div class="flip-card-inner">
		<div class="flip-card flip-card-back">
			<h4>Hi {{name}}</h4>
			<p class="lead">How about you add some flashcards</p>
		</div>
		<div class="flip-card flip-card-front">
			<h4>Hi {{name}}</h4>
			<p class="lead">How about you add some flashcards</p>
		</div>
	</div>
</div>
{{/if}}
</div>
<div class="f-back-to-top">
	<i style="color:black" class="fa fa-arrow-up"></i>
</div>

<script>
	
	let flipCards = document.querySelectorAll('.flip-card-inner')

	let backToTop = document.querySelector('.f-back-to-top')

	let searchBar = document.querySelector('.f-search-bar > input')
	
	flipCards.forEach((card)=>{
		card.addEventListener('click',function(){
		this.classList.toggle('flip')
	})
	})

	
	
	backToTop.onclick = function(){
		window.scrollTo({top:0,left:0,behavior:'smooth'})
	}

	searchBar.onfocus = function(){
		let searchWrapper = document.querySelector('.f-search-bar')
		this.style.backgroundColor = "#fff"
		searchWrapper.setAttribute('style',`border-color:#fda800;
			box-shadow: 0 0 10px #ffc000;background-color:#fff`)
	}
	searchBar.onblur = function(){
		let searchWrapper = document.querySelector('.f-search-bar')
		this.style.backgroundColor = "#eee"
		searchWrapper.setAttribute('style',`border-color:#666;
		box-shadow: 0 0 0px #666;`)
	}

	$(document).ready(function(){
		$('.flip-card-container').sortable()
	})


</script>

