<style>
	.f-profile-container{
		padding:150px 50px 20px 100px;
		/* display:flex;
		flex-direction:row;
		justify-content:space-evenly;
		flex-wrap:wrap*/
	}
	.f-profile-stats-section{
		display:flex;
		flex-direction: row;
		align-items: center;
		justify-content:space-between;
		
	}
	.f-profile-avatar{
			display:flex;
			align-items: center;
			justify-content:center;
			min-width:210px;
			height:210px;
			border-radius:100px;
			margin-right:25px;
			box-shadow:0 0 5px black;
			background-size:cover;
			background-position: center;
			background-repeat: no-repeat;
			background-color: #eee;
		}
		.f-avatar-camera-dim{
			display:flex;
			align-items: center;
			flex-direction:column;
			justify-content:center;
			border-radius:100px;
			width:100%;
			height:100%;
			background-color:#fda800;
			opacity:0;
			transition-property:opacity;
			transition-duration:0.5s;
		}
		.f-avatar-camera-dim:hover{
			opacity:0.8
		}

	.f-profile-stats-wrapper{
		display:flex!important;
		flex-direction: row;
		align-items: center;
		justify-content:space-evenly;
	}
	.f-profile-stats-wrapper > * {
		width:150px;
		height:100px;
		margin: 0 5px 0 5px;
		display:flex;
		flex-direction: column;
		align-items: center;
		justify-content:center;
	}

	.f-profile-username{
		flex:1;
		display:flex;
		flex-direction:column;
		align-items:flex-start;
	}
	.f-profile-username > p{
		margin-top:5px;
		font-weight:bold
	}

	@media (min-width:950px){
		.f-profile-username{
		margin-left:40px;
		}
	}

	.f-profile-stats{
		cursor:pointer;
		transition-property:all;
		transition-duration: 0.1s;
		user-select: none
	}
	.f-profile-stats:hover{
		transform:scale(1.1);
	}
	.f-profile-stats:hover > .fa-2x{
		color:#fda800!important;
	}
	
	.f-profile-stats-likes{
	
	}
	.f-profile-stats-followers{
		
	}
	.f-profile-stats-following{
		
	}
	.f-profile-stats-count{
		font-weight:bold;
		margin-bottom:-3px;
		color:#ffcc00;
	}
	@media (max-width:950px){
		.f-profile-stats-section{
		flex-direction: column;
		align-items: center;
		justify-content:space-evenly;
	}
		.f-profile-avatar{
			margin-bottom:25px;
			min-width:150px;
			height:150px;
		}

		.f-profile-username{
		font-size: 15px
		}

		.f-profile-username p{
		font-size: 12px
		}
		
		.f-profile-stats-wrapper > * {
			width:90px;
		}

		.f-profile-container{
		padding:100px 20px 20px 20px;
		}
		.fa-2x{
			font-size: 20px;
		}
		.f-profile-stats-description{
			font-size:12px;
			font-weight:bold
		}
	}

	.f-profile-content{
		display:flex;
		flex-direction: column;
		align-items:flex-start
		padding:100px 20px 20px 100px;
	}

	@media (min-width:950px){
		.f-profile-content{
		margin-top:85px
	}
	}

	@media (max-width:950px){
		.f-profile-content{
		margin-top:25px
	}
	}
	.f-collections-wrapper{
		display:flex;
		flex-direction: row;
		align-items: center;
		flex-wrap: nowrap;
		overflow-x: auto;
		padding-top:30px;
		margin-bottom:50px;
	}

	.f-collections-wrapper > * {
		flex:0 0 auto;
		margin-right:10px!important;
		padding:25px
	}


	.f-collections-heading{
		display:flex;
		flex-direction: row;
		align-items: center;
		justify-content: space-between;
	}

	.f-collections-heading > h1{
		margin-bottom:10px
	}

	.f-search-section{
		display:flex;
		flex-direction:row;
		align-items: center;
		justify-content:space-between;
	}
	.f-search-category{
			color:black!important;
			margin:100px 0 0 100px
		}
	.f-search-bar{
	display:flex;
	height:40px;
	width:250px;
	border: 2px solid #333;
	box-sizing:border-box;
	padding:10px;
	border-radius:30px;
	background-color:#fff
	}

	.f-search-bar input{
		background-color:#fff
	}
@media (max-width:950px){

	.f-collections-wrapper::-webkit-scrollbar {
    	
    	 -webkit-overflow-scrolling:touch;

  		}

  	.f-collections-wrapper > * {
		
  	}

	.f-collections-heading{
		flex-direction: row;
		flex-wrap: wrap-reverse;
	}
	.f-collections-heading > .f-search-bar{
		flex-basis:100%;
		margin-bottom:30px;
		align-self:center;
	}
	.f-collections-heading > .f-search-bar > input{
		width:100%;
	}
}
.f-collections-stats{
	display:flex;
	flex-direction:row;
	align-items:center;
	justify-content:center;
	margin-bottom:25px;
}

.f-collection-count{
	font-size:15px;
	font-weight:bold;
	border-radius:50px;
	width:22px;
	height:22px;
	color:black;
	display:flex;
	align-items:center;
	justify-content:center;
	background-color:#fda800;
	align-self:flex-start;
	margin-left:5px;
}


.f-profile-modal-fab{
		box-shadow: 0 0 10px black;
		position:fixed;
		bottom:70px;
		right:10px;
		width:50px;
		height:50px;
		border-radius:50px;
		background-color:black;
		display:flex;
		align-items:center;
		justify-content: center;
		transform:scale(0);
		transition-property:scale;
		transition-duration:1s;
		animation-name:fade-in;
		animation-duration:1s;
		animation-delay: 1s;
		animation-fill-mode:forwards;
	}
	.f-profile-modal-fab:active{
		transform:scale(1.05);
	}

	@keyframes fade-in{
		0%{
			transform:scale(0);
		}
		100%{
			transform:scale(1);
		}
	}

	.f-profile-modal{
		visibility:hidden;
		opacity:0;
		position: fixed;
		top: 0;
		left: 0;
		width: 100vw;
		height: 100vh;
		z-index:20;
		overflow-x: hidden;
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: center;
		background-color:rgba(255,255,255,0.9);
		transition: all 0.5s;
	}

	.f-modal-default-screen{
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		transition: all 0.5s;
	}
	.modal-screen-title{
		position:absolute;
		top: 3.5%;
		left: 7.5%;
	}
	@media (max-width:950px){
		.modal-screen-title{
		position:absolute;
		top: 3.5%;
		left: 15%;
	}
	}

	.f-modal-profile-screen{
		visibility: hidden;
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		margin-left:200vw;
		height: 100%;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		transition: all 0.5s;
	}
	.f-modal-collections-screen{
		visibility: hidden;
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		margin-left:200vw;
		height: 100%;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		transition: all 0.5s;
	}
	.f-modal-logout-screen{
		visibility: hidden;
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		margin-left:200vw;
		height: 100%;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		transition: all 0.5s;
	}

	.f-modal-brand{
		display: flex;
		align-items: center;
		justify-content: center;
		margin-top:-50px;
		margin-bottom:50px
	}

	.f-profile-modal-back{
		z-index:20;
		position:absolute;
		top:2%;
		left:2%;
		transform:scale(0.5);
	}

	.f-profile-modal-cancel{
		z-index:20;
		position:absolute;
		top:2%;
		right:2%;
		transform:scale(0.5);
	}
	.f-profile-modal-action-wrapper{
		width:75%;
		display:flex;
		flex-direction:row;
		align-items: center;
		justify-content:center;
		font-family: 'Bungee',cursive;
		cursor: pointer;
		margin:10px;
		transition:color 0.3s;
	}
	.f-profile-modal-action-wrapper:hover{
		color:#fda800;
	}
	.f-profile-modal-action-fab{
		box-shadow: 0 0 10px black;
		width:50px;
		height:50px;
		border-radius:50px;
		background-color:black;
		display:flex;
		align-items:center;
		justify-content: center;
		transform:scale(0);
		transition-property:scale;
		transition-duration:1s;
		animation-name:fade-in;
		animation-duration:1s;
		animation-delay: 1s;
		animation-fill-mode:forwards;
	}

	.f-profile-modal-action-fab:active{
		transform:scale(1.05);
	}
	.modal-action{
		display:flex;
		flex-direction:row;
		justify-content:space-between;
		width:315px;
	}


</style>
<div class="f-profile-container">
	 <!--Profile stats and page title-->
	<div class="f-profile-stats-section">
		<div style="background:url('{{userData.avatar}}')" class="f-profile-avatar">
			<div class="f-avatar-camera-dim">
				<i style="color:white;margin-bottom:10px" class="fa fa-camera fa-2x"></i>
				<p style="color:white">Change profile pic</p>
			</div>
		</div>
		<div class="f-profile-username">
		<h1>{{userData.username}}</h1>
		<p>Creator of Flippr...Loves bacon</p>
		</div>
		<div class="f-profile-stats-wrapper">
			<div class="f-profile-stats f-profile-stats-likes">
				<i style="color:black" class="fa fa-thumbs-up fa-2x"></i>
				<p class="f-profile-stats-count">300</p>
				<p class="f-profile-stats-description">Likes</p>
			</div>
			<div class="f-profile-stats f-profile-stats-followers">
				<i style="color:black" class="fa fa-users fa-2x"></i>
				<p class="f-profile-stats-count">5501</p>
				<p class="f-profile-stats-description">Followers</p>
			</div>
			<div class="f-profile-stats f-profile-stats-following">
				<i style="color:black" class="fa fa-flag fa-2x"></i>
				<p class="f-profile-stats-count">3214</p>
				<p class="f-profile-stats-description">Following</p>
			</div>
		</div>
	</div>

	<!--Profile content-->
	<div class="f-profile-content">
		
		<div class="f-collections-heading">

		<div class="f-collections-stats">
			<h1>My Collections</h1>
			<span class="f-collection-count">
			{{#noOfKeys flashcards}}{{/noOfKeys}}
		</span></div>

		<div  class="f-search-bar">
			<i style="color:black;margin-right:5px" class="fa fa-search"></i>
			<input type="search" placeholder="Search"/>
		</div>

		</div>
		{{#if flashcards}}
		{{#each flashcards}}
		<h2>{{@key}} ({{this.length}})</h2>
		<div class="f-collections-wrapper">
			{{#each this}}
				{{> flip-card}}
			{{/each}}
		</div>
	{{/each}}
			{{else}}
			{{> flip-card title="No collections" url="https://images.unsplash.com/photo-1487452066049-a710f7296400?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=c96c7cb987e31ac4a1210daf1fb6c26c&auto=format&fit=crop&w=751&q=80" subtitle="Click the plus button to create one"}}
		{{/if}}
	
		

	</div>
</div>
<div class="f-profile-modal">
	<i class="f-profile-modal-cancel fa fa-times fa-3x"
	 style="color:black" >
	</i>
<!--Start of default modal screen-->
<div class="f-modal-default-screen">
	<div class="f-brand f-modal-brand">
		<img class="flippr-logo" src="/assets/flippr.png" alt="" height=130 width=130/>
	</div>

	<div class="f-profile-modal-action-wrapper">
		<div class="modal-action modal-action-profile">
			<div class="f-profile-modal-action-fab">
				<i style="color:#fda800" class="fa fa-user"></i>
			</div>
				Edit Profile
		</div>
	</div>
	<div class="f-profile-modal-action-wrapper">
		<div class="modal-action  modal-action-collections">
			<div class="f-profile-modal-action-fab">
				<i style="color:#fda800" class="fa fa-edit"></i>
			</div>
				Edit collections
		</div>
	</div>
		<div class="f-profile-modal-action-wrapper">
		<div class="modal-action  modal-action-logout">
			<div class="f-profile-modal-action-fab">
				<i style="color:#fda800" class="fa fa-sign-out"></i>
			</div>
				Log out
		</div>
	</div>
</div>
<!--End of default modal screen-->

<!--Start of profile modal screen-->
<div class="f-modal-profile-screen">
	<i class="f-profile-modal-back fa fa-arrow-left fa-3x"
	 style="color:black" >
	</i>
	
<h2  class="modal-screen-title">Profile</h2>

		
</div>
<!--End of profile modal screen-->

<!--Start of collections modal screen-->
<div class="f-modal-collections-screen">
	<i class="f-profile-modal-back fa fa-arrow-left fa-3x"
	 style="color:black" >
	</i>

<h2 class="modal-screen-title">Collections</h2>
	{{#each flashcards}}
		<p>{{@key}}-{{this.length}}</p>
	{{/each}}
		
</div>
<!--End of collections modal screen-->

<!--Start of logout modal screen-->
<div class="f-modal-logout-screen">
	<i class="f-profile-modal-back fa fa-arrow-left fa-3x"
	 style="color:black" >
	</i>

<h2 class="modal-screen-title">Log out</h2>

		
</div>
<!--End of logout modal screen-->


</div>
<div class="f-profile-modal-fab">
	<i style="color:#fda800" class="fa fa-plus"></i>
</div>

<script>

	$(document).ready(function(){
		$('.f-collections-wrapper').sortable()
		let flipCards = document.querySelectorAll('.flip-card-inner')
		let searchBar = document.querySelector('.f-search-bar > input')
		
		let modal = document.querySelector('.f-profile-modal')
		
		let displayModalfab = document.querySelector('.f-profile-modal-fab')
		let cancelModalFab = document.querySelector('.f-profile-modal-cancel')
		let modalBackButtons = document.querySelectorAll('.f-profile-modal-back')

		let defaultModalScreen = document.querySelector('.f-modal-default-screen')
		let profileModalScreen = document.querySelector('.f-modal-profile-screen')
		let collectionsModalScreen = document.querySelector('.f-modal-collections-screen')
		let collectionsLogOutScreen = document.querySelector('.f-modal-logout-screen')
		
		let modalProfileAction = document.querySelector('.modal-action-profile')
		let modalCollectionsAction = document.querySelector('.modal-action-collections')
		let modalLogOutAction = document.querySelector('.modal-action-logout')

		modalProfileAction.onclick = function(){
			defaultModalScreen.style.marginLeft = "-200vw";
			profileModalScreen.style.marginLeft = "0vw";
			profileModalScreen.style.visibility = "visible";
		}

		modalCollectionsAction.onclick = function(){
			defaultModalScreen.style.marginLeft = "-200vw";
			collectionsModalScreen.style.marginLeft = "0vw";
			collectionsModalScreen.style.visibility = "visible";
		}

		modalLogOutAction.onclick = function(){
			defaultModalScreen.style.marginLeft = "-200vw";
			collectionsLogOutScreen.style.marginLeft = "0vw";
			collectionsLogOutScreen.style.visibility = "visible";
		}

		

		modalBackButtons.forEach((button)=>{
			button.onclick = function(){
			defaultModalScreen.style.marginLeft = "0vw";

			profileModalScreen.style.marginLeft = "200vw";
			profileModalScreen.style.visibility = "hidden";

			collectionsModalScreen.style.marginLeft = "200vw";
			collectionsModalScreen.style.visibility = "hidden";

			collectionsLogOutScreen.style.marginLeft = "200vw";
			collectionsLogOutScreen.style.visibility = "hidden";

		}
		})

		

		displayModalfab.onclick = function(){
		modal.setAttribute('style','visibility:visible;opacity:1');

		$('.f-profile-modal').children().css({visibility:'visible',opacity:1})
		
		}	
		cancelModalFab.onclick = function(){
		modal.setAttribute('style','visibility:hidden;opacity:0')
		$('.f-profile-modal').children().css({visibility:'hidden',opacity:0})
		
		}	
	
		flipCards.forEach((card)=>{
			card.addEventListener('click',function(){
			this.classList.toggle('flip')
		})		
	})

	searchBar.onfocus = function(){
		let searchWrapper = document.querySelector('.f-search-bar')
		this.style.backgroundColor = "#fff"
		searchWrapper.setAttribute('style',`border-color:#fda800;
			box-shadow: 0 0 10px #ffc000;background-color:#fff`)
	}

	searchBar.onblur = function(){
		let searchWrapper = document.querySelector('.f-search-bar')
		this.style.backgroundColor = "#fff"
		searchWrapper.setAttribute('style',`border-color:#666;
		box-shadow: 0 0 0px #666;`)
	}
	})
</script>
<script>
	let pressTimer

	$(document).ready(()=>{
		$('.flip-card-front').on({
			mousedown:function(){
				pressTimer = setTimeout(()=>{
					alert($(this).find('h2').text())
				},700)
			},
			mouseup:function(){
			clearInterval(pressTimer)
			},
			touchstart:function(){
				pressTimer = setTimeout(()=>{
					alert($(this).find('h2').text())
				},700)
			},
			touchend:function(){
			clearInterval(pressTimer)
			},
		})
	})
	</script>
